body { 
	padding: 0;
	margin: 0; 
    color:#000000;
    background-color:#FFFFFF;
    border: 1px dashed black;
}

#nav {
	margin-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	border-bottom: 1px dashed black;
}

#nav span {
	font-size: 2em;
}

#nav hr {
	border:1px dashed black;
}

#form-area {
	border: 1px dashed black;
	padding-left: 10px;
	margin-left: 30px;
	width: 40%;
}

#form-area #record{
	padding-top: 10px;
}

#form-area #record span input{
	border: none;
	border-bottom: 1px dashed black;  
}

#form-area #content{
	margin-top: 10px;

}
#form-area #content textarea {

}

#main {
}

#main-left {
	margin-left: 0px;
    margin-right: 28px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 10px;
    width: 70%;
    border-right: 1px dashed black;
}



