body { 
	padding: 0;
	margin: 0; 
    color:#000000;
    background-color:#FFFFFF;
    border: 1px dashed black;
}

#nav {
	margin-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	border-bottom: 1px dashed black;
}

#nav span {
	font-size: 2em;
}

#nav hr {
	border:1px dashed black;
}

#form-area {
	border: 1px dashed black;
	padding-left: 10px;
	margin-left: 30px;
	width: 40%;
}

#form-area #record{
	padding-top: 10px;
}

#form-area #record span input{
	border: none;
	border-bottom: 1px dashed black;  
}

#form-area #url{
	padding-top: 10px;
}

#form-area #url span input{
	border: none;
	border-bottom: 1px dashed black;  
}

#form-area p {
	text-align: center;
}

#form-area button {
	border: none;
	border: 1px dashed black;
	cursor: pointer;
}

#form-area #content{
	margin-top: 10px;

}
#form-area #content textarea {
	width: 260px;
	height: 50px;
}

#entries-area {
	margin-top: 10px;
	border-top: 1px dashed black;
}

#entries-area #title{
	border-bottom: 1px dashed black;
    width: 80px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

#entries-area .entry {
	margin-top: 10px;
	margin-left: 20px;
}

#entries-area .entry #timeandauthor {
	margin-top: 10px;
	margin-bottom: 5px;
}

#entries-area .entry #timeandauthor #time {
	font-style: oblique;
}

#entries-area .entry #timeandauthor #author {
	background: #a9a9a9;
	padding-left: 5px;
	padding-right: 5px;
}

#entries-area .entry p{
	border-bottom: 1px dashed black;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 0px;
}

#entries-area .entry p a {
	font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
    background: #000000;
    text-decoration: none;
}

#main {
}

#main-left {
	margin-left: 0px;
    margin-right: 28px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 1px;
    width: 70%;
    border-right: 1px dashed black;
}

p {
	word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}



